body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family:Arial, sans-serif; */
    font-family: monospace;
    font-weight: 100;
    letter-spacing:0.03px;
    font-size: 19px;
    line-height: 20.9px;
    /* background-color: black; */
    
    /* background-color: rgb(213, 213, 213); */
}

html:root{
    --swiper-theme-color:    rgba(118, 118, 118, 0.845);

}

.margin{
    width: 80%; 
    height: auto; 
    margin-top: 5vh;  
    margin-bottom: 5vh;
}


button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: monospace;
    color: rgba(255, 255, 46, 0.961);
}

.menu{
    display: flex;
    justify-content: space-around;
    z-index: 900;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 13px;
    line-height: 14px;
    /* padding:9px; */
    right: 0;
    left: 0;
    margin:auto;
    padding:auto;
    
    /* font-family: monospace; */

}



.menu p {
    border: 0.9px solid   rgba(118, 118, 118, 0.845);
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(255, 255, 255, 0.4); */
    background-color: rgba(118, 118, 118, 0.845);

    /* color: rgba(84, 84, 84, 0.845); */
    color: rgba(255, 255, 46, 0.961);
   
    /* background-color:  rgba(191, 191, 191, 0.447); */
    margin-top: 0;
    /* overflow: scroll; */
    padding: 1vh;  
    transition: all 0.5s ease;
    /* padding-top: 12px;
    padding-left: 12px; */
}


.menu p:nth-child(5) {
   /* padding: 9px; */
    width: 150%;
    overflow: scroll;
    text-overflow: ellipsis;
    display: inline-block;  
    /* max-height: 10vh; */
    height: 2vh;
  
    transition: all 0.5s ease;

    /* white-space: nowrap; */

    /* overflow: scroll; */
}

.menu p:first-child {
    line-height: 16px;
    overflow: scroll;
     text-overflow: ellipsis;
     display: inline-block;  
     height: 2vh;
     transition: all 0.5s ease;
 }


 


video{
    width: 105%;
    height: auto;
}

.abouttext{
    padding-top: 3.5vh;
    width: 90%;
    /* display: block;
    position: relative; */
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-wrap:balance;
    word-break: normal;
   

}

.image-back{
    width: 50%; /* 이미지의 너비를 조정 */
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10vh;
    margin-bottom: 10vh;

}

/* iframe{
    pointer-events: none;
} */



.swiper {
    width: 100%;
    height: 90vh;
    /* height: vh;  */
    margin-left: auto;
    margin-right: auto;

  }

  .swiper-slide {
    text-align: center;
    /* background: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.swiper-button-next , .swiper-button-prev {
 width: 10%;
 /* color:transparent; */
}

.gap{
    width: 100%;
    height: 50vh;
}



.intro{
    top: 4vh;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease;
}


.show-modal{
 right: 0;
 visibility: visible;
  opacity : 1;
  transition : all 1s;
}










.container{
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(5, 30px) ; */
    height: 30vh;
    text-align: left;
    column-gap: 30px;
    row-gap: 10px;
} 

.vimeo {
    position: relative;
    width: 100%; /* 컨테이너의 너비를 최대로 설정 */
    padding-top: 56.25%; /* 종횡비에 따라 조정 */
}
.vimeo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 
.first{
    text-align: center;
} */






  



@media screen and (max-width: 1366px){
  
    .menu p{
        font-size: 15px;
        line-height: 21.9px;
    }

    button{
        font-size: 15px;
    }
 
}

@media screen and (max-width: 1024px){
   
    .menu p{
        font-size: 10px;
        line-height: 11.9px;
     
    }

    button{
        font-size: 15px;
    }
    .menu p:nth-child(4){
        display: none;
    }

    .gap{
        height: 20vh;
    }
    
  }

@media screen and (max-width: 768px){
    
    
    .swiper {
        width: 100%;
        height: 90vh;
        /* background-color: aqua; */
        /* height: vh;  */
        margin-left: auto;
        margin-right: auto;
      }


    .menu p:nth-child(3){
        display: none;
    }


    .gap{
        height: 5vh;
    }
}

@media screen and (max-width: 450px){
   

    .menu{
        font-size: 9px;
    }

}

